/*Artigos*/  
body{
    background-color: #f1f8fe;
}

header {
    background-color: #00417a;
    color: #dcefff;
    padding: 10px;
    text-align: center;
  }
  
  
  h2.a {
    margin-top: 20px;
    background-color: #f1f8fe;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  section {
    border-radius: 8px;
    margin: 5px;
    padding: 15px;
    background-color: #dcefff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  
  img.a {
    float: right;
    margin: 0 0 10px 10px;
    max-width: 50%;
    border: 1px solid #dcefff;
    border-radius: 8px;
  }

*/Div do alinhamento a direita */
.article-content {
  float: right;
  margin: 0 0 10px 10px;
  max-width: 50%;
  border: 0px solid #f1f8fe;
  border-radius: 8px;
}

@font-face {
    font-family: "Formula1 Display Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
  }
  
  p {
    font-family: "Bitstream Vera Serif Bold", serif;
  }
  
 
@font-face {
    font-family: Formula1 Display Bold;
    src: local("Formula1 Display Bold"), local("Formula1 Display Bold"),
      url(Formula1-Bold_web_0.ttf);
    font-weight: bold;
  }
  
  #profile-picture1 {
    background: #C9E4F0;
    border-radius: 100%;
    width: 273px;
    height: 273px;
    shape-outside: url("../Image/f1-brazilian-gp-2008-podium-fe.jpg");
    display: block;
}
  
 
#profile-picture2 {
    background: #C9E4F0;
    border-radius: 100%;
    width: 273px;
    height: 273px;
    shape-outside: url("../Image/GP_da_Grã-Bretanha.webp");
    display: block;
}
   
#profile-picture3 {
    background: #C9E4F0;
    border-radius: 100%;
    width: 273px;
    height: 273px;
    shape-outside: url("../Image/Alemanha - 2019.webp");
    display: block;
}
   
#profile-picture4 {
    background: #C9E4F0;
    border-radius: 100%;
    width: 273px;
    height: 273px;
    shape-outside: url("../Image/jap-2005-podio.webp");
    display: block;
}
   
#profile-picture5 {
    background: #C9E4F0;
    border-radius: 100%;
    width: 273px;
    height: 273px;
    shape-outside: url("../Image/gettyimages-1938023.webp");
    display: block;
}
  