/* CSS 

folha de rosto

*/


body {
    text-align: center;
    display: block;
    background-color: aliceblue;
    font-size: 1.5em;
    font-family: "fantasy";
}


header {
    background-color: #AED6E8;
    color: #13475f;
    width: 100%;
    height: 85px;

}

article {
    background-color: aliceblue;
    width: 100%;
    height: 5px;

}

#profile-picture {
    background: #C9E4F0;
    border-radius: 100%;
    width: 273px;
    height: 273px;
    shape-outside: url("../SRC/Image/1687906860119.jpg");
    display: block;
}

.margem {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;

}

.background-profile {
    text-align: center;
    background-color: #AED6E8;
    border-radius: 100%;
    width: 275px;
    height: 279px;
    margin-top: 10%;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

section {
    float: left;
    width: 100%;
    height: 330px;
    padding-left: -15px;
    padding-right: 15px;
    margin-top: -130px;
    padding-bottom: 15px;
    background: #AED6E8;
}

nav-items {
    padding: 8px 16px;
    width: auto;
    border: none;
    outline: 0;
}

.to-right {
    float: right !important;
}

h1 {
    color: #13475f;
}

.centralizar {
    text-align: center;
    margin: auto;
    padding: auto;
    width: 100%;
}

.profile-info {

    padding-top: 130px;
}


a {
    text-decoration: none;
    color: #13475f;
    m
}

a:hover {
    text-decoration: solid;
    color: aliceblue;
}

.article-center {
    float: right;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(red, green, blue, alpha);
}

/* .subnav {
    background-color: #C9E4F0;
    text-align: center;
    border-radius: 100%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
} */